<section id="contact-forms" class="row">

    <!-- TITOLI E DESCRIZIONI -->
    <div class="col-12 col-md-6">
      <h2 class="section-title">Contattaci</h2>
      <p class="paragraph-contact">
        Hai un progetto in mente o una necessità tecnica da risolvere? <br>
        Siamopronti ad ascoltarti. Sviluppiamo software su misura, incluse soluzioni dedicate a hardware specifici.
      </p>

      <!-- FORM CONTATTACI -->
      <form method="post">
        <fieldset class="border-form">
          
          <label for="name-contact" class="form-label">Nome*</label>
          <input type="text" id="name-contact" name="name" placeholder="Scrivi il tuo Nome" class="form-input" required />
            
          <label for="surname-contact" class="form-label">Cognome*</label>
          <input type="text" id="surname-contact" name="surname" placeholder="Scrivi il tuo Cognome" class="form-input" required/>

          <label for="email-contact" class="form-label">Email*</label>
          <input type="email" id="email-contact" name="email" placeholder="Scrivi la tua Email" class="form-input" required  />

          <label for="tel-contact" class="form-label">Telefono*</label>
          <input type="tel" id="tel-contact" name="tel" placeholder="Telefono Cellulare" class="form-input" required  />

          <label for="messages-contact" class="form-label">Lasciaci un messaggio</label>
          <textarea rows="3" cols="50" placeholder="Descrivi la tua idea..." id="messages-contact" name="messages" class="form-input"></textarea>

          <div class="button-group">
            <input type="submit" value="Invia" class="submit-form" />
            <input type="reset" value="Resetta" class="reset-form" />
          </div>
        </fieldset>
      </form>
    </div>
  </section>
