//==========================
// CSS RULES FOR FOOTER
//==========================

// Getting root rules from _root.scss
@use 'root' as root;

/* Reset generale del footer */
.distro-footer {
  min-height: 70vh;
  background-color: root.$deep-black;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ROW TOP: Allineamento Social */
.footer-social-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  font-family: root.$font-body;
  color: root.$off-white-text-body;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Sottile linea divisoria */
}

.social-links a {
color: root.$off-white-text-body;
  text-decoration: none;
  margin-left: 10px;
  padding: 12px;
  display: inline-block;
  font-weight: bold;
  transition: color 0.3s;
}

.social-links a:hover {
  color: root.$tech-cyan; /* Ciano al passaggio del mouse */
}

/* ROW CENTRALE: La griglia a 4 colonne */
.footer-main-row {
  display: flex;
  justify-content: space-between;
  padding: 50px 10%;
  flex-wrap: wrap; /* Permette alle colonne di andare a capo su schermi piccoli */
}

.footer-col {
  flex: 1;
  min-width: 200px; /* Evita che le colonne si schiaccino troppo */
  margin-bottom: 20px;
  padding-right: 20px;
}

.footer-col h6 {
  font-family: root.$font-title;
  color: root.$starlight-text-title;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 20px;

  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.3);
}

.footer-col p {
  font-family: root.$font-body;
  font-size: 0.95rem;
  line-height: 1.5;
  color: root.$off-white-text-body; /* Grigio tenue per i testi */
  margin-bottom: 1.25rem;

  a {
    display: inline-block;
    padding: 8px 0;
  }
}

.footer-col a {
  color: #9ca3af;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-col a:hover {
  color: #f3f4f6;
  text-decoration: underline;
}

/* ROW BOTTOM: Il Copyright */
.footer-copyright {
  background-color: rgba(0, 0, 0, 0.4); /* Sfondo ancora più scuro per staccare */
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  color: root.$starlight-text-title;
  font-family: root.$font-body;
}