//==========================
// CSS RULES FOR HEADER
//==========================

// Getting root rules from _root.scss
@use 'root' as root;

header {
  position: fixed;
  height: root.$header-height;
  width: 100%;
  background-image: linear-gradient(to bottom,
      root.$header-top-color,
      root.$header-bottom-color);
  backdrop-filter: blur(1px); /* Aggiunge l'effetto vetro tech */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  z-index: 10;
  transition: 0.5s;
}

header.hidden {
  transform: translateY(-100%);
}

/* ////////////////////////////////////////////////
  NAVBAR
/////////////////////////////////////////////////// */

nav {
  display: flex;
  align-items: center;
  gap: root.$navbar-sections-gap;
}

.nav-button {
  font-family: root.$font-title;
  font-size: root.$nav-link-size;
  color: root.$starlight-text-title;
  text-decoration: none;
  border-radius: 100px;
  padding: 15px;
  transition: all 0.4s ease;
}

.nav-button:hover {
  text-shadow:
    0 0 5px #00ffff,
    0 0 10px rgba(0, 255, 255, 0.5);
  -webkit-text-stroke: 0.3px rgba(255, 255, 255, 0.5);
  transition: all 0.4s ease;
}

.nav-links {
  display: flex;
  gap: root.$navbar-buttons-gap;
}

/* ////////////////////////////////////////////////
  LOGO
/////////////////////////////////////////////////// */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.logo img {
  max-width: calc(root.$header-height / 2);
  height: 2.5rem;
}

/* ////////////////////////////////////////////////
  MOBILE RULES FOR HEADER AND NAVBAR
/////////////////////////////////////////////////// */

.burger-button {
  display: none;
  cursor: pointer;
  margin-left: auto;
  font-size: 1.5rem;
  z-index: 11;
}

.menu-burger-button {
  font-size: 1.5rem;
}

.mobile-menu {
  display: none;
  position: fixed; /* FONDAMENTALE: lo stacca dal resto della pagina */
  left: 0;         /* FONDAMENTALE: lo allinea a sinistra */
  top: root.$header-height; 
  width: 100%;
  height: calc(100vh - root.$header-height); 
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9;
  flex-direction: column;

.mobile-nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: flex-start; 
    padding-top: 40px;      
    gap: 30px;            
  }

  .nav-button {
    text-align: center;
    font-size: 1.5rem;
    width: auto;
  }

  .nav-button:hover {
  text-shadow:
    0 0 5px #00ffff,
    0 0 10px rgba(0, 255, 255, 0.5);
  -webkit-text-stroke: 0.3px rgba(255, 255, 255, 0.5);
  transition: all 0.4s ease;
}
}