@use 'root' as root;

section {
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    /* LA MAGIA PER LO Z-INDEX: Crea un recinto (Stacking Context) chiuso */
    isolation: isolate; 
}

section::before {
    content: "";
    position: absolute;
    inset: 0;
    /* Si posiziona SOPRA lo sfondo della section, ma DIETRO ai suoi contenuti */
    z-index: -1; 
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    // backdrop-filter: blur(1px) saturate(130%) brightness(1);
    // -webkit-backdrop-filter: blur(1px) saturate(130%) brightness(1); /* Obbligatorio per Safari/iOS */
    pointer-events: none;
    /* OTTIMIZZAZIONE PERFORMANCE: Forza l'accelerazione hardware (GPU) */
    transform: translateZ(0);
    will-change: backdrop-filter;
}