//==========================
// CSS RULES FOR RESPONSIVE
//==========================

@use 'root' as root;

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .burger-button {
    display: flex;
    align-items: center;
  }

  /* ROW E COL RESPONSIVE */
  .row {
    flex-direction: column;
  }
}