/* ////////////////////////////////////////////////
  HEADER
/////////////////////////////////////////////////// */
header {
  position: fixed;
  height: var(--header-height);
  width: 100%;
  background-image: linear-gradient(to bottom,var(--header-top-color),var(--header-bottom-color) );
  transition: 0.5s;
  top: 0;
  z-index: 1000;
}

header.hidden {
  transform: translateY(-100%);
}

/* ////////////////////////////////////////////////
  NAVBAR
/////////////////////////////////////////////////// */

nav {
  display: flex;
  align-items: center;
  padding: 15px;
  width: var(--navbar-width);
  gap: var(--navbar-sections-gap);
}

nav a {
  border-radius: 100px;
  padding: 15px;
  text-decoration: none;
  color:var(--platinum);
  font-family: var(--font-titles);
  transition: var(--navbar-buttons-hover-transition-time);
}

nav a:hover {
  border-radius: 100px;
  background-color: var(--navbar-buttons-hover-color);
  transition: var(--navbar-buttons-hover-transition-time);
}

.nav-links {
  display: flex;
  gap: var(--navbar-buttons-gap);
}

/* ////////////////////////////////////////////////
  LOGO
/////////////////////////////////////////////////// */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.logo img {
  max-width: calc(var(--header-height) / 2);
  height: auto;
}