/* ////////////////////////////////////////////////
  HEADER
/////////////////////////////////////////////////// */
header {
  position: fixed;
  height: var(--header-height);
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    var(--header-top-color),
    var(--header-bottom-color)
  );
  backdrop-filter: blur(1px); /* Aggiunge l'effetto vetro tech */
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  z-index: 2;
}

header.hidden {
  transform: translateY(-100%);
}

/* ////////////////////////////////////////////////
  NAVBAR
/////////////////////////////////////////////////// */

nav {
  display: flex;
  align-items: center;
  gap: var(--navbar-sections-gap);
}

.nav-button {
  font-family: var(--font-title);
  font-size: var(--nav-link-size);
  color: var(--starlight-text-title);
  text-decoration: none;
  border-radius: 100px;
  padding: 15px;
  transition: all 0.4s ease;
}

.nav-button:hover {
  text-shadow:
    0 0 5px #00ffff,
    0 0 10px rgba(0, 255, 255, 0.5);
  -webkit-text-stroke: 0.3px rgba(255, 255, 255, 0.5);
  transition: all 0.4s ease;
}

.nav-links {
  display: flex;
  gap: var(--navbar-buttons-gap);
}

/* ////////////////////////////////////////////////
  LOGO
/////////////////////////////////////////////////// */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.logo img {
  max-width: calc(var(--header-height) / 2);
  height: 2, 5rem;
}

/* ////////////////////////////////////////////////
  MOBILE RULES FOR HEADER AND NAVBAR
/////////////////////////////////////////////////// */

.burger-button {
  display: none;
  cursor: pointer;
  margin-left: auto;
}
