/* ////////////////////////////////////////////////
  GENERAL SETTINGS FOR ALL PAGES
/////////////////////////////////////////////////// */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: var(--font-titles);
}

h2 {
  font-family: var(--font-titles);
}

body {
  height: 100%;
  font-family: var(--font-body);
}

.row {
  display: flex;
  width: 100%;
}

.col {
  flex: 1;
  display: block;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;

  padding: 0 var(--sections-orizzontal-padding);

  flex-direction: column;
}
