/* ////////////////////////////////////////////////
  GENERAL SETTINGS FOR ALL PAGES
/////////////////////////////////////////////////// */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2 {
  font-family: var(--font-titles);
  color: var(--starlight-text-title);
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100%;
  font-family: var(--font-body);
  color: var(--muted-grey-text-body);
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 5vh 0;
}

.col {
  flex: 0 0 auto;
  width: var(--col-width, 0);
}

section {
  min-height: 100vh;
  background-size: cover;
  background-color: rgb(97, 97, 84);
}