/* ////////////////////////////////////////////////
  GENERAL SETTINGS FOR ALL PAGES
/////////////////////////////////////////////////// */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: var(--font-titles);
  color: var(--starlight-text-title);
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100%;
  font-family: var(--font-body);
  color: var(--muted-grey-text-body);
}

small {
  font-size: var(--card-font-size-small);
  opacity: 0.6;
}

.row {
  display: flex;
  width: 100%;
  padding: 5vh 0;
}

.col {
  flex: 1;
  display: flex;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  /* padding: 0 var(--sections-orizzontal-padding); */
  flex-direction: column;

  background-color: rgb(97, 97, 84);
}