/* ////////////////////////////////////////////////
  MOBILE RULES
/////////////////////////////////////////////////// */

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .burger-button {
    display: block;
  }

  .results-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .partners-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 420px) {
  .results-grid {
    grid-template-columns: 1fr;
  }
  
  .partners-grid {
    grid-template-columns: 1fr;
  }
}
