/* ////////////////////////////////////////////////
  MOBILE RULES
/////////////////////////////////////////////////// */

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .burger-button {
    display: block;
  }

  /* ROW E COL RESPONSIVE */
  .row {
    flex-direction: column;
  }

  .col {
    width: 100%;
  }
}