:root {
/* ////////////////////////////////////////////////
  HEADER & NAVBAR
/////////////////////////////////////////////////// */
  --header-height: 10vh;
  --header-top-color: rgba(0, 0, 0, 0.4);
  --header-bottom-color: rgba(0, 0, 0, 0);


  --navbar-buttons-hover-color: rgba(0, 0, 0, 0.5);

  --navbar-buttons-hover-transition-time: 0.5s;

  --navbar-sections-gap: 100px;
  --navbar-buttons-gap: 15px;

/* ////////////////////////////////////////////////
  FONTS
/////////////////////////////////////////////////// */
  --font-titles: "Playfair Display", serif;
  --font-body: "Jetbrain Mono", sans-serif§;

/* ////////////////////////////////////////////////
  COLORS
/////////////////////////////////////////////////// */
  /* Deep-Charcoal */
  --carbon-black: #1a1b1e;
  /* Ochre */
  --ochre: #d97706;
  /* Platinum */
  --platinum: #f4f4f5;
  /* Pacifi-Cyan */
  --pacific-cyan: #2292a4;
  /* Golden-Glow */
  --golden-glow: #bdbf09;
}