/* ////////////////////////////////////////////////
  SECTIONS MODULE
/////////////////////////////////////////////////// */

section {
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover
}

.section-title {
    text-align: center;
    /* Aggiungere stile titoli sezioni */
}


section:nth-child(even) {
    flex-direction: row-reverse;
}