<section id="hero">
    <div class="row">
      <div class="col section-title">
        <h2>Consultancy?</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis
          dolorum at nobis sit animi beatae doloremque placeat, magnam, iusto
          omnis iure illum inventore esse magni praesentium sequi nisi aliquid
          vel.
        </p>
      </div>
    </div>
  </section>
  <section id="">
    <div class="row">
      <div class="col section-title">
        <h2>Altro</h2>
        <p>
          <!-- Pensiamo a quali tipi di consuleze ci piacerebbe dalla sistemistica ai database e dal front end al back end alla domotica un po tutto  -->
          <!-- Sarbbe folle anche offire mini servizi (dalle installazioni o a piccole istallazioni -->
        </p>
      </div>
    </div>
  </section>