<section id="hero" class="row">
      <div class="col-12 col-md-12 col-sm-12">
        <div class="section-title">
          <h1 class="sec-primary-title">Our Distro</h1>
          <h2 class="sec-sub-title">L'ordine senza potere</h2>
          <p class="paragraph-home">
            Non c'è un futuro da attendere, c'è solo un futuro da costruire.
          </p>
          <a href="/future-vision" class="button">Esplora la visione<i class="fa-solid fa-arrow-right arrow-right-icon"></i></a>
        </div>
      </div>
    </section>

    <section id="about-us">
      <div class="col-12 col-md-12 col-sm-12">
        <div class="section-title section-2-title-poly">
          <h2 class="sec-sub-title">L'ecosistema</h2>
          <p class="paragraph-home">
            Non cerchiamo un posto in un organigramma, viviamo il nsotro ecosistema.
          </p>
          <a href="/about-us" class="button"><i class="fa-solid fa-arrow-left arrow-left-icon"></i>Chi Siamo</a>
        </div>
      </div>
    </section>

    <section id="research-and-development" class="row">
      <div class="col-12 col-md-12 col-sm-12">
        <div class="section-title">
          <h2 class="sec-sub-title">Inventiamo soluzioni</h2>
          <p class="paragraph-home">
            Il nostro dipartimento di R&D è un laboratorio permanente dove l'utopia diventa prototipo.
          </p>
          <a href="/research-and-development" class="button">Ricerca e Sviluppo<i class="fa-solid fa-arrow-right arrow-right-icon"></i></a>
        </div>
      </div>
    </section>

    <section id="news-and-consultancy" class="row">
      <div class="col-12 col-md-12 col-sm-12">
        <div class="section-title">
          <h2 class="sec-sub-title">Desideriamo condividere e confrontarci</h2>
          <p class="paragraph-home">
            News e informazioni su tutto quello che cic circonda e non solo.
          </p>
          <a href="/consultancy" class="button"><i class="fa-solid fa-arrow-left arrow-left-icon"></i>Resta Informato</a>
        </div>
      </div>
    </section>

    <section id="contact-us" class="row">
      <div class="col-12 col-md-12 col-sm-12">
        <div class="section-title">
          <h2 class="sec-sub-title">Come Raggiungerci</h2>
          <p class="paragraph-home">
            Scrivici oppure scegli di entrare a far parte del nostro ecosistema.
          </p>
          <a href="/contact-us" class="button">Contattaci<i class="fa-solid fa-arrow-right arrow-right-icon"></i></a>
        </div>
      </div>
    </section>