<section id="hero">
    <div class="row">
      <div class="col section-title">
        <h2>About us</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis
          dolorum at nobis sit animi beatae doloremque placeat, magnam, iusto
          omnis iure illum inventore esse magni praesentium sequi nisi aliquid
          vel.
        </p>
      </div>
    </div>
  </section>

  <section id="team">
    <div class="section-title">
      <h2>Il nostro team</h2>
      <p>Gli scapocchioni per intero</p>
    </div>
    <div class="row">
      <div class="col">
        <div class="person-card">
          <div class="avatar-wrapper">
            <img class="avatar" src="../assets/images/foto-professori/Alessandra Raspatelli.webp" />
          </div>

          <p class="card-name">Alessandra Raspatelli</p>
          <p class="card-known-as">Colei che ti ammazza</p>
          <span class="card-role">Tutor</span>
          <hr class="card-divider" />
          <p class="card-quote">
            "Il prossimo che mette scapocchione nel sito lo faccio fuori"
          </p>
        </div>
      </div>
      <div class="col">
        <div class="person-card">
          <div class="avatar-wrapper">
            <img class="avatar" src="../assets/images/foto-professori/Michele Salierno.webp" />
          </div>

          <p class="card-name">Michele Salierno</p>
          <p class="card-known-as">Da capire</p>
          <span class="card-role">Inglese</span>
          <hr class="card-divider" />
          <p class="card-quote">"Aspreeeeen"</p>
        </div>
      </div>
      <div class="col">
        <div class="person-card">
          <div class="avatar-wrapper">
            <img class="avatar" src="../assets/images/foto-professori/Leonardo Chiarella.webp" />
          </div>

          <p class="card-name">Leonardo Chiarella</p>
          <p class="card-known-as">Leo Fender</p>
          <span class="card-role">Soft Skill</span>
          <hr class="card-divider" />
          <p class="card-quote">"Educare sorridendo alla semplicità"</p>
        </div>
      </div>
      <div class="col">
        <div class="person-card">
          <div class="avatar-wrapper">
            <img class="avatar" src="../assets/images/foto-professori/Michele Scalera.webp" />
          </div>

          <p class="card-name">Michele Scalera</p>
          <p class="card-known-as">Scapocchione</p>
          <span class="card-role">UML / Web</span>
          <hr class="card-divider" />
          <p class="card-quote">"Sviluppare il pensiero computazionale"</p>
        </div>
      </div>
      <div class="col">
        <div class="person-card">
          <div class="avatar-wrapper">
            <img class="avatar" src="../assets/images/foto-professori/Vito Carulli.webp" />
          </div>

          <p class="card-name">Vito Carulli</p>
          <p class="card-known-as">Da capire</p>
          <span class="card-role">Diritto Informatico</span>
          <hr class="card-divider" />
          <p class="card-quote">"Da capire"</p>
        </div>
      </div>
      <div class="col">
        <div class="person-card">
          <div class="avatar-wrapper">
            <img class="avatar" src="../assets/images/foto-professori/Antonello Magaletti.webp" />
          </div>

          <p class="card-name">Antonello Magaletti</p>
          <p class="card-known-as">Da capire</p>
          <span class="card-role">Matematica</span>
          <hr class="card-divider" />
          <p class="card-quote">"Da capire"</p>
        </div>
      </div>
    </div>
  </section>

  <section id="">
    <div class="row">
      <div class="col section-title">
        <h2></h2>
        <div>
          <img src="" alt="" />
          <!-- idea possibile fare una bel gioco di card con le foto di tutti cosi siamo carini e coccolosi -->
        </div>
      </div>
    </div>
  </section>