<!-- Intelligenza artificiale -->
<section id="ai" class="row">
  <div class="col-sm-12 col-md-12 col-lg-6 center">
    <div class="section-title">
      <h2
        class="sec-sub-title"
        data-lang-key="reserchAndDevelopmentPage.aiSec.title"
      ></h2>
      <p
        class="paragraph-home"
        data-lang-key="reserchAndDevelopmentPage.aiSec.paragraph"
      ></p>
      <p
        class="paragraph-home"
        data-lang-key="reserchAndDevelopmentPage.aiSec.paragraph1"
      ></p>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 center">
    <div class="row extraContent">
      <div class="col-sm-6 col-md-12 col-lg-12 col-xl-6">
        <div class="video-wrapper">
          <video autoplay muted loop playsinline>
            <source
              src="../../../assets/video/res-dev-ai-video.webm"
              type="video/webm"
            />
          </video>
        </div>
      </div>
      <div class="col-sm-6 col-md-12 col-lg-12 col-xl-6 center">
        <div class="col-sm-6 col-md-12 col-lg-12 col-xl-6 center">
          <div class="counter-box">
            <span>Prova</span>
            <span class="counter-number" data-target="10000">156</span>
            <p
              class="counter-label"
              data-lang-key="reserchAndDevelopmentPage.greenEnergySec.counterLabel"
            ></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>