<!-- GREEN -->
<section id="green-energy" class="row">
  <div class="col-md-7 col-sm-12 center">
    <div class="section-title">
      <h2 class="sec-sub-title">
        Algoritmi a Bassa Intensità Energetica & Software Refactoring
      </h2>
      <p class="paragraph-home">
        Non c'è un futuro da attendere, c'è solo da scoprire
      </p>
      <p class="paragraph-home">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis,
        obcaecati consequuntur. Earum nemo atque sint impedit quis laudantium
        adipisci assumenda, doloribus libero tempora maxime. Recusandae ducimus
        non placeat debitis vel voluptates totam laudantium veritatis, omnis
        nemo voluptatem illum et quia quasi rem quis doloremque iure ab quaerat
        impedit molestias soluta ea provident ex. Impedit incidunt earum
        eligendi sunt porro ducimus.
      </p>
    </div>
  </div>
  <div class="col-md-5 col-sm-12 center">
    <div class="row">
      <div class="col-sm-6 col-md-12 col-lg-12 col-xl-6">
        <div class="person-card">
          <div class="avatar-wrapper">
            <img
              class="avatar"
              alt="Foto della persona"
              src="../assets/images/foto-compagni/Giuseppe Calabrese.webp"
            />
          </div>

          <p class="card-name">Nome e cognome</p>
          <p class="card-known-as">
            Conosciuto/a come
          </p>
          <span class="card-role">Tester</span>
          <hr class="card-divider" />
          <p class="card-quote">"Frase tipica"</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-12 col-lg-12 col-xl-6">
        <div class="person-card">
          <div class="avatar-wrapper">
            <img
              class="avatar"
              alt="Foto della persona"
              src="../assets/images/foto-compagni/Aspreno Lapo Pesce.webp"
            />
          </div>

          <p class="card-name">Nome e cognome</p>
          <p class="card-known-as">
            Conosciuto/a come
          </p>
          <span class="card-role">Tester</span>
          <hr class="card-divider" />
          <p class="card-quote">"Frase tipica"</p>
        </div>
      </div>
    </div>
  </div>
</section>
