<!-- GREEN -->
<section id="green-energy" class="row">
  <div class="col-sm-12 col-md-12 col-lg-6 center">
    <div class="section-title">
      <h2 class="sec-sub-title" data-lang-key="reserchAndDevelopmentPage.greenEnergySec.title"></h2>
      <p class="paragraph-home" data-lang-key="reserchAndDevelopmentPage.greenEnergySec.paragraph"></p>
      <p class="paragraph-home" data-lang-key="reserchAndDevelopmentPage.greenEnergySec.paragraph1"></p>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 center">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="person-card">
          <div class="avatar-wrapper">
            <img
              class="avatar"
              alt="Foto della persona"
              src="../assets/images/foto-compagni/Giuseppe Calabrese.webp"
            />
          </div>

          <p class="card-name">Nome e cognome</p>
          <p class="card-known-as">
            Conosciuto/a come
          </p>
          <span class="card-role">Tester</span>
          <hr class="card-divider" />
          <p class="card-quote">"Frase tipica"</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="person-card">
          <div class="avatar-wrapper">
            <img
              class="avatar"
              alt="Foto della persona"
              src="../assets/images/foto-compagni/Aspreno Lapo Pesce.webp"
            />
          </div>

          <p class="card-name">Nome e cognome</p>
          <p class="card-known-as">
            Conosciuto/a come
          </p>
          <span class="card-role">Tester</span>
          <hr class="card-divider" />
          <p class="card-quote">"Frase tipica"</p>
        </div>
      </div>
    </div>
  </div>
</section>
