<section id="hero" class="row">
  <div class="col-sm-12 col-lg-6 center">
    <div class="section-title">
      <h1 class="sec-primary-title" data-lang-key="researchAndDevelopmentPage.heroSec.title"></h1>
      <p class="paragraph-home" data-lang-key="researchAndDevelopmentPage.heroSec.paragraph"></p>
      <p class="paragraph-home">
        <a href="#ai" class="button" data-lang-key="researchAndDevelopmentPage.heroSec.button">
          <i class="fa-solid fa-arrow-down arrow-down-icon"></i>
        </a>
      </p>
    </div>
  </div>
  <div class="col-sm-12 col-lg-6 center media-col">
    <div class="media-block">
      <div class="wrapper">
        <video autoplay muted loop playsinline>
          <source src="../../assets/video/res-dev-hero-video.webm" type="video/webm" />
        </video>
      </div>
    </div>
  </div>
</section>