<!-- HERO -->
<section id="hero" class="row">
  <div class="col-md-6 col-sm-12 center">
    <div class="section-title center">
      <h1 class="sec-primary-title">Ricerca e sviluppo</h1>
      <p class="paragraph-home">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rem
        maiores soluta illum sequi facilis voluptate a impedit voluptas in
        doloribus, iusto saepe ipsam deleniti fugiat aliquid ut facere.
        Provident veritatis minus perferendis aspernatur temporibus sint ut at
        iusto saepe.
      </p>
      <p class="paragraph-home">
        <a href="#ai" class="button"
          >Scopri di più <i class="fa-solid fa-arrow-down arrow-down-icon"></i
        ></a>
      </p>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 center">
<div class="hero-video-wrapper">
  <video autoplay muted loop playsinline class="hero-video">
    <source src="../../../assets/video/res-dev-video.webm" type="video/webm" />
  </video>
</div>
  </div>
</section>
