<!-- HOME AUTOMATION -->
<section id="home-automation" class="row">
  <div class="col-sm-12 col-lg-6 center">
    <div class="section-title">
      <h2
        class="sec-sub-title"
        data-lang-key="researchAndDevelopmentPage.homeAutomationSec.title"
      ></h2>
      <p
        class="paragraph-home"
        data-lang-key="researchAndDevelopmentPage.homeAutomationSec.paragraph"
      ></p>
      <p
        class="paragraph-home"
        data-lang-key="researchAndDevelopmentPage.homeAutomationSec.paragraph1"
      ></p>
    </div>
  </div>
  <div class="col-sm-12 col-lg-6 center media-col">
    <div class="media-block">
      <div class="wrapper">
        <video autoplay muted loop playsinline>
          <source
            src="../../../assets/video/res-dev-house-automation-video.webm"
            type="video/webm"
          />
        </video>
      </div>
      <div class="counter-row">
        <div class="counter-box">
          <span class="paragraph-home" data-lang-key="researchAndDevelopmentPage.homeAutomationSec.counter">
          </span>
          <p class="counter-number" data-target="350"></p>
        </div>
      </div>
    </div>
  </div>
</section>