<!-- FINANZA QUANTITATIVA -->
<section id="quantitative-finance" class="row">
  <div class="col-sm-12 col-lg-6 center">
    <div class="section-title">
      <h2
        class="sec-sub-title"
        data-lang-key="researchAndDevelopmentPage.quantFinanceSec.title"
      ></h2>
      <p
        class="paragraph-home"
        data-lang-key="researchAndDevelopmentPage.quantFinanceSec.paragraph"
      ></p>
      <p
        class="paragraph-home"
        data-lang-key="researchAndDevelopmentPage.quantFinanceSec.paragraph1"
      ></p>
    </div>
  </div>
  <div class="col-sm-12 col-lg-6 center media-col">
    <div class="media-block">
      <div class="wrapper">
        <video autoplay muted loop playsinline>
          <source
            src="../../../assets/video/res-dev-quantitative-finance-video.webm"
            type="video/webm"
          />
        </video>
      </div>
      <div class="counter-row">
        <div class="counter-box">
          <span class="paragraph-home" data-lang-key="researchAndDevelopmentPage.quantFinanceSec.counter">
          </span>
          <p class="counter-number" data-target="10000"></p>
        </div>
      </div>
    </div>
  </div>
</section>