<section id="hero">
  <div class="row">
    <div class="col section-title">
      <h2 data-lang-key="consultancyPage.heroSec.title"></h2>
      <p data-lang-key="consultancyPage.heroSec.paragraph"></p>
    </div>
  </div>
</section>

