<section id="hero" class="glitch-container">
  <div class="glitch-wrapper">
    <canvas id="letterGlitchCanvas"></canvas>
    <div class="vignette outer"></div>
    <div class="vignette center"></div>
  </div>

  <div class="row hero-grid-fix">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="hero-content-box">
        <div class="text-wrapper">
          <h1 class="glitch-title" data-lang-key="consultancyPage.heroSec.title">
            LAVORI IN CORSO
          </h1>
          <div class="divider"></div>
          <p class="glitch-paragraph" data-lang-key="consultancyPage.heroSec.paragraph">
            Stiamo espandendo i nostri orizzonti. Questa sezione è una nuova aggiunta dedicata alla nostra divisione consultancy.
          </p>
          <div class="status-indicator">
            <span class="dot"></span> SYSTEM_UPDATING...
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 d-none-mobile"></div>
  </div>
</section>