<section id="hero" class="glitch-container">
  <div class="glitch-wrapper">
    <canvas id="letterGlitchCanvas"></canvas>
    <div class="vignette outer"></div>
    <div class="vignette center"></div>
  </div>

  <div class="row hero-grid-fix">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="hero-content-box">
        <div class="text-wrapper">
          <h1 class="glitch-title" data-lang-key="consultancyPage.heroSec.title"></h1>
          <p class="glitch-paragraph" data-lang-key="consultancyPage.heroSec.paragraph"></p>
          <a href="/contact-us" class="button">
            <span data-lang-key="homepage.contactUsSec.button"></span>
            <i class="fa-solid fa-arrow-right arrow-right-icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 d-none-mobile"></div>
  </div>
</section>