<section id="advisors">

    <div class="row center">
        <div class="col-12 col-md-10 col-lg-8" style="margin-bottom: 30px;">
            <h2 class="sec-sub-title">I Custodi della Conoscenza</h2>
            <p class="paragraph-home">
                Nessun ecosistema prospera senza radici solide. I nostri Advisor non sono manager che impartiscono
                ordini, ma veterani del codice e dell'ingegneria che supervisionano i metodi, garantiscono la solidità
                delle architetture e ci sfidano costantemente a superare i nostri limiti. Sono la rete di sicurezza che
                ci permette di osare.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="swiper advisor-swiper">
                <div class="swiper-wrapper" id="advisor-wrapper">
                    </div>
            </div>
        </div>
    </div>
    
</section>