<!-- HERO -->
<section id="hero" class="row">
  <div class="col-md-6 col-sm-12 center">
    <div class="section-title center">
      <h1 class="sec-primary-title">Chi siamo</h1>
      <p class="paragraph-home">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rem
        maiores soluta illum sequi facilis voluptate a impedit voluptas in
        doloribus, iusto saepe ipsam deleniti fugiat aliquid ut facere.
        Provident veritatis minus perferendis aspernatur temporibus sint ut at
        iusto saepe.
      </p>
    </div>
  </div>
</section>
