<section id="about-hero" class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 center">
      <div class="section-title">
        <h2 class="sec-primary-title" data-lang-key="aboutUsPage.heroSec.title"></h2>
        <p class="paragraph-home " data-lang-key="aboutUsPage.heroSec.paragraph"></p>
      </div>
    </div>
</section>
