<section id="partners">

    <div class="row center">
        <div class="col-12 col-md-10 col-lg-8" style="margin-bottom: 30px;">
            <h2 class="sec-sub-title" data-lang-key="aboutUsPage.partnersSec.title"></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="swiper partners-swiper">
                <div class="swiper-wrapper" id="partners-wrapper">
                    </div>
            </div>
        </div>
    </div>
    
</section>