<!-- TEAM -->
{# <section id="team" class="row">
  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <div class="section-title">
      <h2 class="sec-primary-title" data-lang-key="aboutUsPage.teamSec.title"></h2>
      <p class="paragraph-home" data-lang-key="aboutUsPage.teamSec.paragraph"></p>
    </div>
  </div>

  <!-- AI -->
  <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 center">
    <h3 class="sec-sub-title" data-lang-key="aboutUsPage.teamSec.aiTitle"></h3>
    <div class="row scrollable-div" id="cards-ai"></div>
  </div>

  <!-- Cloud Systems -->
  <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 center">
    <h3 class="sec-sub-title" data-lang-key="aboutUsPage.teamSec.cloudSysTitle"></h3>
    <div class="row scrollable-div" id="cards-cloudSystems"></div>
  </div>

  <!-- House Automation -->
  <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 center">
    <h3 class="sec-sub-title" data-lang-key="aboutUsPage.teamSec.houseAutoTitle"></h3>
    <div class="row scrollable-div" id="cards-houseAutomation"></div>
  </div>

  <!-- Quantitative Finance -->
  <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 center">
    <h3 class="sec-sub-title" data-lang-key="aboutUsPage.teamSec.quantFinanceTitle"></h3>
    <div class="row scrollable-div" id="cards-quantitativeFinance"></div>
  </div>

  <!-- Programmatori -->
  <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 center">
    <h3 class="sec-sub-title" data-lang-key="aboutUsPage.teamSec.DevTitle"></h3>
    <div class="row scrollable-div" id="cards-programmatori"></div>
  </div>

</section> #}