<!-- TEAM -->
<section id="team" class="row">
  <div class="col">
    <div class="section-title">
      <h1 class="sec-primary-title">Il nostro team</h1>
      <p class="paragraph-home">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque rem
        maiores soluta illum sequi facilis voluptate a impedit voluptas in
        doloribus, iusto saepe ipsam deleniti fugiat aliquid ut facere.
        Provident veritatis minus perferendis aspernatur temporibus sint ut at
        iusto saepe.
      </p>
    </div>
  </div>
  <div class="rowcol-sm-12 col-md-6 col-lg-6 col-xl-6 center">
    <h3>Ingegneri del software</h3>
    <div class="row scrollable-div">
      <div class="col-sm-6 col-md-12 col-lg-12 col-xl-6">
        <div class="person-card">
          <div class="avatar-wrapper">
            <img
              class="avatar"
              alt="Foto della persona"
              src="../assets/images/foto-compagni/Giuseppe Calabrese.webp"
            />
          </div>

          <p class="card-name">Nome e cognome</p>
          <p class="card-known-as">Conosciuto/a come</p>
          <span class="card-role">Tester</span>
          <hr class="card-divider" />
          <p class="card-quote">"Frase tipica"</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-12 col-lg-12 col-xl-6">
        <div class="person-card">
          <div class="avatar-wrapper">
            <img
              class="avatar"
              alt="Foto della persona"
              src="../assets/images/foto-compagni/Aspreno Lapo Pesce.webp"
            />
          </div>

          <p class="card-name">Nome e cognome</p>
          <p class="card-known-as">Conosciuto/a come</p>
          <span class="card-role">Tester</span>
          <hr class="card-divider" />
          <p class="card-quote">"Frase tipica"</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-12 col-lg-12 col-xl-6">
        <div class="person-card">
          <div class="avatar-wrapper">
            <img
              class="avatar"
              alt="Foto della persona"
              src="../assets/images/foto-compagni/Giuseppe Calabrese.webp"
            />
          </div>

          <p class="card-name">Nome e cognome</p>
          <p class="card-known-as">Conosciuto/a come</p>
          <span class="card-role">Tester</span>
          <hr class="card-divider" />
          <p class="card-quote">"Frase tipica"</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-12 col-lg-12 col-xl-6">
        <div class="person-card">
          <div class="avatar-wrapper">
            <img
              class="avatar"
              alt="Foto della persona"
              src="../assets/images/foto-compagni/Aspreno Lapo Pesce.webp"
            />
          </div>

          <p class="card-name">Nome e cognome</p>
          <p class="card-known-as">Conosciuto/a come</p>
          <span class="card-role">Tester</span>
          <hr class="card-divider" />
          <p class="card-quote">"Frase tipica"</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 center">
    <h3>Data anallyst</h3>
    <div class="row scrollable-div">
      <div class="col-sm-6 col-md-12 col-lg-12 col-xl-6">
        <div class="person-card">
          <div class="avatar-wrapper">
            <img
              class="avatar"
              alt="Foto della persona"
              src="../assets/images/foto-compagni/Giuseppe Calabrese.webp"
            />
          </div>

          <p class="card-name">Nome e cognome</p>
          <p class="card-known-as">Conosciuto/a come</p>
          <span class="card-role">Tester</span>
          <hr class="card-divider" />
          <p class="card-quote">"Frase tipica"</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-12 col-lg-12 col-xl-6">
        <div class="person-card">
          <div class="avatar-wrapper">
            <img
              class="avatar"
              alt="Foto della persona"
              src="../assets/images/foto-compagni/Aspreno Lapo Pesce.webp"
            />
          </div>

          <p class="card-name">Nome e cognome</p>
          <p class="card-known-as">Conosciuto/a come</p>
          <span class="card-role">Tester</span>
          <hr class="card-divider" />
          <p class="card-quote">"Frase tipica"</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-12 col-lg-12 col-xl-6">
        <div class="person-card">
          <div class="avatar-wrapper">
            <img
              class="avatar"
              alt="Foto della persona"
              src="../assets/images/foto-compagni/Giuseppe Calabrese.webp"
            />
          </div>

          <p class="card-name">Nome e cognome</p>
          <p class="card-known-as">Conosciuto/a come</p>
          <span class="card-role">Tester</span>
          <hr class="card-divider" />
          <p class="card-quote">"Frase tipica"</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-12 col-lg-12 col-xl-6">
        <div class="person-card">
          <div class="avatar-wrapper">
            <img
              class="avatar"
              alt="Foto della persona"
              src="../assets/images/foto-compagni/Aspreno Lapo Pesce.webp"
            />
          </div>

          <p class="card-name">Nome e cognome</p>
          <p class="card-known-as">Conosciuto/a come</p>
          <span class="card-role">Tester</span>
          <hr class="card-divider" />
          <p class="card-quote">"Frase tipica"</p>
        </div>
      </div>
    </div>
  </div>
</section>
