<section id="operative-nodes" class="row">
    
    <div class="row center" style="margin-bottom: 40px;">
        <div class="col-12 center">
            <h2 class="sec-sub-title" data-lang-key="aboutUsPage.teamSec.title">I Nodi Operativi</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="swiper team-swiper">
                <div class="swiper-wrapper" id="team-wrapper">
                    </div>
            </div>
        </div>
    </div>

</section>