<section id="operative-nodes" class="row">
    
    <div class="row center" style="margin-bottom: 40px;">
        <div class="col-12 section-title">
            <h2 class="sec-sub-title" data-lang-key="aboutUsPage.teamSec.title"></h2>
            <h3 class="sec-sub-title" data-lang-key="aboutUsPage.teamSec.subtitle"></h3>
            <p class="paragraph-home" data-lang-key="aboutUsPage.teamSec.paragraph"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="swiper team-swiper">
                <div class="swiper-wrapper" id="team-wrapper">
                    </div>
            </div>
        </div>
    </div>

</section>