@import '../modules/root.css';
@import '../modules/main.css';
@import '../modules/header.css';

/* ////////////////////////////////////////////////
  SECTIONS
/////////////////////////////////////////////////// */
section {
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover
}

.section-title {
    text-align: center;
    width: 50%;
}

section:nth-child(odd) {
    justify-content: flex-start;
}

section:nth-child(even) {
    justify-content: flex-end;
}

#hero {
    height: 100vh;
    padding-top: var(--header-height);
    background-image: url("../../assets/images/prova.jpg");

    color: var(--ochre);
    font-size: 3.5rem;
}


/* ////////////////////////////////////////////////
  SECTIONS BACKGROUND IMAGES
/////////////////////////////////////////////////// */
#about-us {
    background-image: url("../../assets/images/hero-background.jpg");
}

#future-visions {
    background-image: url("../../assets/images/hero-background.jpg");
}

#research-and-development {
    background-image: url("../../assets/images/hero-background.jpg");
}

#consultancy {
    background-image: url("../../assets/images/hero-background.jpg");
}

#contact-us {
    background-image: url("../../assets/images/hero-background.jpg");
}