<section id="about-us" class="row">
  <div class="col-6"></div>
  <div class="col-6">
    <div class="section-title section-2-title-poly">
      <h2 class="sec-sub-title" data-lang-key="homepage.aboutUsSec.title"></h2>
      <p class="paragraph-home" data-lang-key="homepage.aboutUsSec.paragraph"></p>
      <a href="/about-us" class="button">
        <i class="fa-solid fa-arrow-left arrow-left-icon"></i>
        <span data-lang-key="homepage.aboutUsSec.button"></span>
      </a>
    </div>
  </div>
</section>