<section id="about-us" class="row">
  <div class="col-sm-12 col-md-6 col-12">
    <div class="section-title section-2-title-poly">
      <h2 class="sec-sub-title">L'ecosistema</h2>
      <p class="paragraph-home">
        Non cerchiamo un posto in un organigramma, viviamo il nsotro ecosistema.
      </p>
      <a href="/about-us" class="button"
        ><i class="fa-solid fa-arrow-left arrow-left-icon"></i>Chi Siamo</a
      >
    </div>
  </div>
</section>