<section id="contact-us" class="row">
  <div class="col-6">
    <div class="section-title">
      <h2 class="sec-sub-title">Come Raggiungerci</h2>
      <p class="paragraph-home">
        Scrivici oppure scegli di entrare a far parte del nostro ecosistema.
      </p>
      <a href="/contact-us" class="button"
        >Contattaci<i class="fa-solid fa-arrow-right arrow-right-icon"></i
      ></a>
    </div>
  </div>
  <div class="col-6"></div>
</section>
