<section id="contact-us" class="row">
  <div class="col-6">
    <div class="section-title">
      <h2 class="sec-sub-title" data-lang-key="homepage.contactUsSec.title"></h2>
      <p class="paragraph-home" data-lang-key="homepage.contactUsSec.paragraph"></p>
      <a href="/contact-us" class="button">
        <span data-lang-key="homepage.contactUsSec.button"></span>
        <i class="fa-solid fa-arrow-right arrow-right-icon"></i>
      </a>
    </div>
  </div>
  <div class="col-6"></div>
</section>
