<section id="hero" class="row">
  <div class="col-sm-12 col-md-6 col-12">
    <div class="section-title">
      <h1 class="sec-primary-title">Our Distro</h1>
      <h2 class="sec-sub-title">L'ordine senza potere</h2>
      <p class="paragraph-home">
        Non c'è un futuro da attendere, c'è solo un futuro da costruire.
      </p>
      <a href="/future-vision" class="button"
        >Esplora la visione<i
          class="fa-solid fa-arrow-right arrow-right-icon"
        ></i
      ></a>
    </div>
  </div>
</section>