<section id="hero" class="row">
  <div class="col-6">
    <div class="section-title">
      <h1 class="sec-primary-title" data-lang-key="homepage.heroSec.title"></h1>
      <h2 class="sec-sub-title" data-lang-key="homepage.heroSec.subtitle"></h2>
      <p class="paragraph-home" data-lang-key="homepage.heroSec.paragraph"></p>
      <a href="/future-visions" class="button">
        <span data-lang-key="homepage.heroSec.button"></span>
        <i class="fa-solid fa-arrow-right arrow-right-icon"></i>
      </a>
    </div>
  </div>
  <div class="col-6"></div>
</section>