<section id="news-and-consultancy" class="row">
  <div class="col-12 col-md-12 col-sm-12">
    <div class="section-title">
      <h2 class="sec-sub-title">Desideriamo condividere e confrontarci</h2>
      <p class="paragraph-home">
        News e informazioni su tutto quello che cic circonda e non solo.
      </p>
      <a href="/consultancy" class="button"
        ><i class="fa-solid fa-arrow-left arrow-left-icon"></i>Resta
        Informato</a
      >
    </div>
  </div>
</section>