<section id="research-and-development" class="row">
  <div class="col-sm-12 col-md-12 col-lg-6 center">
    <div class="section-title">
      <h2 class="sec-sub-title" data-lang-key="homepage.reserchAndDevelopmentSec.title"></h2>
      <p class="paragraph-home" data-lang-key="homepage.reserchAndDevelopmentSec.paragraph"></p>
      <a href="/research-and-development" class="button">
        <span data-lang-key="homepage.reserchAndDevelopmentSec.button"></span>
        <i class="fa-solid fa-arrow-right arrow-right-icon"></i>
      </a>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 center"></div>
</section>