<section id="research-and-development" class="row">
  <div class="col-sm-12 col-md-6 col-12">
    <div class="section-title">
      <h2 class="sec-sub-title">Inventiamo soluzioni</h2>
      <p class="paragraph-home">
        Il nostro dipartimento di R&D è un laboratorio permanente dove l'utopia
        diventa prototipo.
      </p>
      <a href="/research-and-development" class="button"
        >Ricerca e Sviluppo<i
          class="fa-solid fa-arrow-right arrow-right-icon"
        ></i
      ></a>
    </div>
  </div>
</section>