---
title: "404"
permalink: 404.html
layout: base.njk
---

<!-- !IMPORTANT -->
<!-- This is the only page that you need to modify statically -->

<section class="row">
      
      <div class="">
        <div id="fuzzy-container">

        </div>
      </div>

        <p class="error-message" data-lang-key="404Page.paragraph"></p>
        
        <div class="button-group">
          <a href="/" class="btn-return" title="Return to homepage" data-lang-key="404Page.button"></a>
        </div>
</section>

{# You can also add the includes you need here below
{% include "_exampleComponent.njk" %} #}