<section id="first-section" class="row">
  <div class="col-12 col-md-6 col-sm-12">
    <div class="section-title">
      <h2 class="sec-sub-title" data-lang-key="futureVisionsPage.firstSec.title"></h2>
      <p class="paragraph-home" data-lang-key="futureVisionsPage.firstSec.paragraph"></p>
    </div>
  </div>
  <div class="col-12 col-md-6 col-sm-12">
    <div class="code-window">
      <div class="code-scroll">
      <pre><code>
        import csv
        import os
        from src.persistence.interface_db import InterfaceDB
        from src.models.contatto import Contatto
        from src.models.appuntamento import Appuntamento
        from src.models.nota import Nota

        class CSVHandler(InterfaceDB):
            
            #? COSTANTI PATH
            PATH_DEFAULT_CONTATTI = "data/contatti.csv"
            PATH_DEFAULT_APPUNTAMENTI = "data/appuntamenti.csv"
            PATH_DEFAULT_NOTE = "data/note.csv"
            
            def __init__(self,path_c = PATH_DEFAULT_CONTATTI,path_a = PATH_DEFAULT_APPUNTAMENTI,path_n = PATH_DEFAULT_NOTE):
                self.path_contatti = path_c
                self.path_appuntamenti = path_a
                self.path_note = path_n

        #! CREATE X 3
            def create_contatto(self, contatto):
                riga_da_scrivere = [contatto.id, contatto.nome, contatto.cognome, contatto.telefono, contatto.email]# 1. lista attributi oggetto 
                try: # 2. Apriamo il file in modalità append ('a')
                    with open(self.path_contatti, mode='a', newline='', encoding='utf-8') as file: # newline='' serve alla libreria csv per non creare righe vuote extra
                        # 3. Creiamo lo "scrittore" csv
                        writer = csv.writer(file)
                        # 4. Scriviamo la riga
                        writer.writerow(riga_da_scrivere)       
                except FileNotFoundError:
                    print(f"Errore: La cartella per '{self.path_contatti}' non esiste.")
                except PermissionError:
                    print(f"Errore: Non hai i permessi per scrivere su '{self.path_contatti}'.")
                except OSError as e:
                    print(f"Errore di sistema (Disco/IO): {e}") # Cattura errori di I/O, disco pieno, ecc.
                except Exception as e:
                    print(f"Errore imprevisto durante il salvataggio: {e}") # La rete di sicurezza finale per tutto il resto

            def create_appuntamento(self, appuntamento):
                riga_da_scrivere = [appuntamento.id, appuntamento.contatto_id, appuntamento.data_ora, appuntamento.luogo]
                try:
                    with open(self.path_appuntamenti, mode='a', newline='', encoding='utf-8') as file:
                        writer = csv.writer(file)
                        writer.writerow(riga_da_scrivere)
                except FileNotFoundError:
                    print(f"Errore: La cartella per '{self.path_appuntamenti}' non esiste.")
                except PermissionError:
                    print(f"Errore: Non hai i permessi per scrivere su '{self.path_appuntamenti}'.")
                except OSError as e:
                    print(f"Errore di sistema (Disco/IO): {e}")
                except Exception as e:
                    print(f"Errore imprevisto durante il salvataggio: {e}") 

            def create_nota(self, note):
                riga_da_scrivere = [note.id, note.contatto_id, note.testo, note.data_creazione, note.appuntamento_id]
                try:
                    with open(self.path_note, mode='a', newline='', encoding='utf-8') as file:
                        writer = csv.writer(file)
                        writer.writerow(riga_da_scrivere)
                except FileNotFoundError:
                    print(f"Errore: La cartella per '{self.path_note}' non esiste.")
                except PermissionError:
                    print(f"Errore: Non hai i permessi per scrivere su '{self.path_note}'.")
                except OSError as e:
                    print(f"Errore di sistema (Disco/IO): {e}")
                except Exception as e:
                    print(f"Errore imprevisto durante il salvataggio: {e}")
    </code></pre>
    </div>
    </div>
  </div>
</section>