<section id="hero">
  <div class="row">
    <div class="col section-title">
      <h2>Future Visions</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis
        dolorum at nobis sit animi beatae doloremque placeat, magnam, iusto
        omnis iure illum inventore esse magni praesentium sequi nisi aliquid
        vel.
      </p>
    </div>
  </div>
</section>
<section>
  <div>
    <h2></h2>
    <div>
      <!-- Potrebbe essere carino pernsare insieme a quali siano i futuri possibili dell'informatica e non solo tra la fantascienza e la supercazzola -->
    </div>
  </div>
</section>
