<section id="second-section" class="row">
  <div class="col-sm-12 col-md-12 col-lg-6 center">
    <div class="section-title">
      <h2 class="sec-sub-title" data-lang-key="futureVisionsPage.secondSec.title">Il Reset Necessario</h2>
      <p class="paragraph-home" data-lang-key="futureVisionsPage.secondSec.paragraph"></p>
    </div>
  </div>
</section>