<section id="second-section" class="row">
  <div class="col-12 col-md-6 col-sm-12">
    <div class="section-title">
      <h2 class="sec-sub-title" data-lang-key="futureVisionsPage.secondSec.title">Il Reset Necessario</h2>
      <p class="paragraph-home" data-lang-key="futureVisionsPage.secondSec.paragraphs.industry"></p>
      <p class="paragraph-home" data-lang-key="futureVisionsPage.secondSec.paragraphs.quote"></p>
      <p class="paragraph-home" data-lang-key="futureVisionsPage.secondSec.paragraphs.application"></p>
      <p class="paragraph-home" data-lang-key="futureVisionsPage.secondSec.paragraphs.action"></p>
      <p class="paragraph-home" data-lang-key="futureVisionsPage.secondSec.paragraphs.conclusion"></p>
    </div>
  </div>
</section>