<section id="third-section" class="row">
  
  <div class="col-sm-12 col-md-12 col-lg-6 center">
    <div class="section-title">
      <h2 class="sec-sub-title" data-lang-key="futureVisionsPage.thirdSec.title"></h2>
      <p class="paragraph-home" data-lang-key="futureVisionsPage.thirdSec.paragraph"></p>
      
      <a href="/research-and-development" class="button">
        <span data-lang-key="futureVisionsPage.thirdSec.buttonResAndDev"></span>
        <i class="fa-solid fa-arrow-right arrow-right-icon"></i>
      </a>
      
      <a href="/news-and-consultancy" class="button">
        <span data-lang-key="futureVisionsPage.thirdSec.buttonConsultancy"></span>
        <i class="fa-solid fa-arrow-right arrow-right-icon"></i>
      </a>
    </div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-6 center">
    <div class="cyber-build-process">
      <div class="build-header">
        <span class="build-label">TARGET: FUTURE</span>
        <span class="build-percent">73%</span>
      </div>
      <div class="build-bar-container">
        <div class="build-progress"></div>
      </div>
      <div class="build-status">
        <span class="status-text">BUILDING_ARCHITECTURE</span>
        <span class="cursor">_</span>
      </div>
    </div>
  </div>

</section>