<section id="third-section" class="row">
  <div class="col-12 col-md-6 col-sm-12">
    <div class="section-title">
      <h2 class="sec-sub-title">Il futuro non si attende. Si progetta</h2>
      <p class="paragraph-home">
        "L'industria del software commerciale ci ha abituato a recinti chiusi, a giardini murati e a macchine programmate per non fidarsi dei propri utenti. <br>
        Michail Bakunin sosteneva che 'la passione per la distruzione è anche una passione creatrice'. <br>
        Noi applichiamo questo principio all'architettura informatica. <br>
        Rompere i monopoli del dato, forzare le architetture chiuse e decostruire le gerarchie tecnologiche non è vandalismo digitale. <br> 
        È il prerequisito strutturale per creare qualcosa di autenticamente nuovo, solido e incondizionatamente a disposizione di tutti."
      </p>
    </div>
    <a href="/reserch-and-development" class="button">Esplora il nostro R&D<i
          class="fa-solid fa-arrow-right arrow-right-icon"></i></a>
    <a href="/news-and-consultancy" class="button">O scopri come applichiamo questi principi nella Consulenza.<i
          class="fa-solid fa-arrow-right arrow-right-icon"></i></a>
  </div>
</section>