---
layout: base.njk
---

<!-- NJK (HTML) components per page -->
 
{% if title == "homepage" %}
  {% include "pages/homepage/hero-section.njk" %}
  {% include "pages/homepage/about-us-section.njk" %}
  {% include "pages/homepage/research-and-development-section.njk" %}
  {% include "pages/homepage/news-and-consultancy-section.njk" %}
  {% include "pages/homepage/contact-us-section.njk" %}

{% elif title == "contactUs" %}
  {% include "pages/contact-us/form-flip-section.njk" %}

{% elif title == "futureVisions" %}
  {% include "pages/future-visions/hero-section.njk" %}
  {% include "pages/future-visions/first-section.njk" %}
  {% include "pages/future-visions/second-section.njk" %}
  {% include "pages/future-visions/third-section.njk" %}

{% elif title == "researchAndDevelopment" %}
  {% include "pages/research-and-development/hero-section.njk" %}
  {% include "pages/research-and-development/ai-section.njk" %}
  {% include "pages/research-and-development/green-energy-section.njk" %}
  {% include "pages/research-and-development/home-automation-section.njk" %}
  {% include "pages/research-and-development/quantitative-finance-section.njk" %}

{% elif title == "aboutUs" %}
  {% include "pages/about-us/hero-section.njk" %}
  {% include "pages/about-us/team-test-section.njk" %}
  {% include "pages/about-us/advisor-test-section.njk" %}
  {% include "pages/about-us/team-section.njk" %}
  {% include "pages/about-us/partners-section.njk" %}

{% elif title == "consultancy" %}
  {% include "pages/consultancy/hero-section.njk" %}

{% else %}
  {% include "404/_404.njk" %}
  {{ content | safe }}
{% endif %}