<header>
    <nav>
      <div class="logo nav-button">
        <a href="/"><img src="{{ site.logo }}" alt="{{ site.title }}"></a>
      </div>
      <div class="nav-links">
        <a class="nav-button" href="/">Home</a>
        <a class="nav-button" href="/about-us">About Us</a>
        <a class="nav-button" href="/future-visions">Future Visions</a>
        <a class="nav-button" href="/research-and-development">Research & Development</a>
        <a class="nav-button" href="/consultancy">Consultancy</a>
        <a class="nav-button" href="/contact-us">Contact Us</a>
      </div>
    </nav>
    <div class="burger-button nav-button">
      <a><i class="fa-solid fa-bars"></i></a>
    </div>
  </header>
  <div class="mobile-menu">
    <div class="menu-burger-button nav-button">
      <a><i class="fa-solid fa-bars"></i></a>
    </div>
    <div class="nav-links">
      <a class="nav-button" href="">PROVA</a>
      <a class="nav-button" href="">PROVA</a>
      <a class="nav-button" href="">PROVA</a>
      <a class="nav-button" href="">PROVA</a>
      <a class="nav-button" href="">PROVA</a>
    </div>
  </div>