<footer class="distro-footer">
  <div class="footer-social-row">
    <div class="social-text">
      <span data-lang-key="footer.spanSocial">Connettiti con noi sui social:</span>
    </div>
    <div class="social-links">
      <a target="_blank" rel="noopener" aria-label="Seguici su Facebook">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a target="_blank" rel="noopener" aria-label="Seguici su X">
        <i class="fa-brands fa-x"></i>
      </a>
      <a target="_blank" rel="noopener" aria-label="Seguici su Instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a target="_blank" rel="noopener" aria-label="Seguici su LinkedIn">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a target="_blank" rel="noopener" aria-label="Guarda i nostri progetti su GitHub">
        <i class="fa-brands fa-github"></i>
      </a>
    </div>
  </div>

  <div class="footer-main-row">
    <div class="footer-col">
      <h6>{{ site.title }}</h6>
      <p>{{ site.description }}</p>
    </div>

    <div class="footer-col">
      <h6 data-lang-key="footer.skills.title">Competenze</h6>
      <p data-lang-key="footer.skills.ai">AI & Deep Learning</p>
      <p data-lang-key="footer.skills.systems">Sistemi & Cloud</p>
      <p data-lang-key="footer.skills.iot">Domotica & IoT</p>
      <p data-lang-key="footer.skills.finance">Finanza Quantitativa</p>
    </div>

    <div class="footer-col">
      <h6 data-lang-key="footer.navigation.title">Navigazione</h6>
      <p><a href="/" data-lang-key="footer.navigation.home">Homepage</a></p>
      <p><a href="/about-us" data-lang-key="footer.navigation.aboutUs">About Us</a></p>
      <p><a href="/future-visions" data-lang-key="footer.navigation.futureVisions">Future Visions</a></p>
      <p><a href="/research-and-development" data-lang-key="footer.navigation.researchAndDevelopment">Research And Development</a></p>
      <p><a href="/consultancy" data-lang-key="footer.navigation.consultancy">Consultancy</a></p>
      <p><a href="/contact-us" data-lang-key="footer.navigation.contactUs">Contact Us</a></p>
    </div>

    <div class="footer-col">
      <h6 data-lang-key="footer.contact.title">Contatti</h6>
      <p data-lang-key="footer.contact.avenue">Via Sparano la sta 69, Bari, Italia (Loggione ITS)</p>
      <p data-lang-key="footer.contact.email">info@ourdistro.dev</p>
      <p data-lang-key="footer.contact.tel">+39 012 345 678</p>
    </div>
  </div>

  <div class="footer-copyright">
    &copy; {{ site.copyright.year }} {{ site.name }} {{ site.copyright.text }}.
    <strong>{{ site.site_name }}</strong>
  </div>
</footer>