<header>
  <div class="logo">
    <a href="/"><img src="{{ site.logo }}" alt="{{ site.title }} Torna alla home"></a>
  </div>

  <nav class="nav-links">
    <a class="nav-button" href="/">Home</a>
    <a class="nav-button" href="/about-us">About Us</a>
    <a class="nav-button" href="/future-visions">Future Visions</a>
    <a class="nav-button" href="/research-and-development">Research & Development</a>
    <a class="nav-button" href="/consultancy">Consultancy</a>
    <a class="nav-button" href="/contact-us">Contact Us</a>
  </nav>

  <div class="burger-button">
    <i class="fa-solid fa-bars"></i>
  </div>
</header>

<div class="mobile-menu">
  <div class="mobile-nav-links">
    <a class="nav-button" href="/">Homepage</a>
    <a class="nav-button" href="/about-us">About us</a>
    <a class="nav-button" href="/future-visions">Future Visions</a>
    <a class="nav-button" href="/research-and-development">Research & Development</a>
    <a class="nav-button" href="/consultancy">Consultancy</a>
    <a class="nav-button" href="/contact-us">Contact Us</a>
  </div>
</div>