<header>
  <div class="logo">
    <a href="/"><img src="{{ site.logo }}" alt="{{ site.title }} Torna alla home"></a>
  </div>

  <nav class="nav-links">
    <a class="nav-button" href="/" data-lang-key="header.navHome"></a>
    <a class="nav-button" href="/about-us" data-lang-key="header.navAboutUs"></a>
    <a class="nav-button" href="/future-visions" data-lang-key="header.navFutureVisions"></a>
    <a class="nav-button" href="/research-and-development" data-lang-key="header.navReserchAndDevelopment"></a>
    <a class="nav-button" href="/consultancy" data-lang-key="header.navConsultancy"></a>
    <a class="nav-button" href="/contact-us" data-lang-key="header.navContactUs"></a>
  </nav>
  <div class="lang">
    <i class="fa-solid fa-language"></i>
    <div class="btn-group" role="group">
      <div class="slider"></div>

      <input type="radio" class="btn-check" name="lang-switcher" id="lang-en" value="en" />
      <label class="btn btn-outline-primary" for="lang-en" data-lang-key="allLang.enLangName"></label>

      <input type="radio" class="btn-check" name="lang-switcher" id="lang-it" value="it" />
      <label class="btn btn-outline-primary" for="lang-it" data-lang-key="allLang.itLangName"></label>
    </div>
  </div>
</header>

<div class="mobile-menu">
  <div class="mobile-nav-links">
    <a class="nav-button" href="/" data-lang-key="header.navHome"></a>
    <a class="nav-button" href="/about-us" data-lang-key="header.navAboutUs"></a>
    <a class="nav-button" href="/future-visions" data-lang-key="header.navFutureVisions"></a>
    <a class="nav-button" href="/research-and-development" data-lang-key="header.navReserchAndDevelopment"></a>
    <a class="nav-button" href="/consultancy" data-lang-key="header.navConsultancy"></a>
    <a class="nav-button" href="/contact-us" data-lang-key="header.navContactUs"></a>
  </div>
</div>